body {
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}

span.word_frequency {
  float:right;
  font-size:1.2em;
  padding-right:5px;
  color:#BCBCBD;
  position:relative;
}


span.word_name {
  padding-left: 5px;
  position: relative;
  z-index: 2;
}

a {
  color: #BCBCBD;
}

h1 a {
  color: #BCBCBD;
  text-decoration: none;
}

h2 {
  color: #BCBCBD;
  font-style:italic;

}

ol {
  padding-left: 30px;
}


span.word_size {
  background-color:#600;
  height:100%;
  position:absolute;
  text-indent:-9999em;
}

li{
  position: relative;
  background: gray;
  color: black;
  width: 480px;
  line-height: 2.3em;
  margin-bottom: 4px;
}



